<br>
<div class="container">
  <div class="row">
    
    <div class="col-sm">
        <a class="navbar-brand" routerLink="/ofertaegresado">
        <div class="card text-white bg-danger mb-3 " style="width: 18rem;">
              <img src="../../assets/imagenes/icon-user-slide.png" class="card-img-top" alt="...">
          <div class="card-body">
            <a href="#" class="btn btn" id="aea">Perfil</a>
          </div>
        </div>
      </a> 
    </div>
    <div class="col-sm">
        <a class="navbar-brand" routerLink="/ofertaegresado">
        <div class="card text-white bg-danger mb-3 " style="width: 18rem;">
              <img src="../../assets/imagenes/53011.png" class="card-img-top" alt="...">
          <div class="card-body">
            <a href="#" class="btn btn" id="aea">Agregar Pelicula</a>
          </div>
        </div>
      </a> 
    </div>
    <div class="col-sm">
        <a class="navbar-brand" routerLink="/ofertaegresado">
        <div class="card text-white bg-danger mb-3 " style="width: 18rem;">
              <img src="../../assets/imagenes/103333.png" class="card-img-top" alt="...">
          <div class="card-body">
            <a href="#" class="btn btn" id="aea">Cursos de Actualizacion</a>
          </div>
        </div>
      </a> 
    </div>
  </div>
  <div class="row">
      <div class="col-sm">
          <a class="navbar-brand" routerLink="/ofertaegresado">
          <div class="card text-white bg-danger mb-3 " style="width: 18rem;">
                <img src="../../assets/imagenes/54916.png" class="card-img-top" alt="...">
            <div class="card-body">
              <a href="#" class="btn btn" id="aea">Comentarios</a>
            </div>
          </div>
        </a> 
      </div>
  </div>
    
  </div>
