
    <input class = "form-control mr-sm-2" type = "text" placeholder = "Buscar">
    <button class = "btn btn-secundario my-2 my-sm-0" type = "submit"> <font style = "vertical-align: heredar;"> <font style = "vertical-align: heredar;"> Buscar </font> </font> </button>



<table class="table" *ngFor="let ed of list">
        <thead class="thead-danger bg-danger">
          <tr>
            <th scope="col">estado</th>
            <th scope="col">Código</th>
            <th scope="col">Apellido Paterno</th>
            <th scope="col">Apellido Materno</th>
            <th scope="col">Nombre</th>
            <th scope="col">DNI</th>
            <th scope="col">Nro Celular</th>
            <th scope="col">Fecha Egreso</th>
            <th scope="col">Escuela Profesional</th>
            <th scope="col">Opciones</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td >1</td>
            <td >{{ ed.Egresado_Codigo_U }}</td>
            <td>{{ ed.Persona_Ap_Paterno }}</td>
            <td>{{ ed.Persona_AP_Materno }}</td>
            <td>{{ ed.Persona_Nombre }}</td>
            <td >{{ ed.Per_Nro_Documento }}</td>
            <td >{{ ed.Persona_Celular }}</td>
            <td >{{ ed.Egre_Fecha_Egreso }}</td>
            <td >{{ ed.Escuela_Profesional_Id }}</td>
            <td >{{ ed.Egresado_Codigo_U }}</td>
          </tr>
        </tbody>
</table>